{% extends 'base.html'%}
{% block title %}
Home
{% endblock %}
{% block content %}
<legend></legend>
<div class="row">
    <div class="col-lg-1 col-md-1" ></div>
    <div class="col-lg-10 col-md-10">
        <div class="row">
            <legend class="header">DYNAMO - GALA</legend>
            {%for image in images%}
            <div class="col-lg-3 col-md-3 image_padding">
                <div class="card" style="width: 18rem;">
                    <img src="{{image.image.url}}" class="card-img-top index_image" alt="IMAGE" title="" data-toggle="modal" data-target="#staticBackdrop">
                    <div class="card-body">
                      <h5 class="card-title">{{image.image_name}}</h5>
                      <p class="card-text">{{image.image_description}}</p>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
                        Launch static backdrop modal
                      </button>
                              <!-- MODAL -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>
                    </div>
                  </div>                  
            </div>
            {%endfor%}
        </div>
    </div>
    <div class="col-lg-1 col-md-1" ></div>
</div>


{% endblock%}