{% extends 'base.html'%}
{% block content %}
<legend></legend>
<div class="row">
    <div class="col-lg-1 col-md-1" ></div>
    <div class="col-lg-10 col-md-10">
        <div class="row">
            {% for search in searched%}
            <legend class="header">SEARCHES FOR {{message}}</legend>
            <div class="col-lg-3 col-md-3 image_padding">
                <div class="card" style="width: 18rem;">
                    <img src="{{search.image.url}}" class="card-img-top index_image" alt="IMAGE" title="">
                    <div class="card-body">
                      <h5 class="card-title">{{search.image_name}}</h5>
                      <p class="card-text">{{search.image_description}}</p>
                    </div>
                  </div>                  
            </div>
            {%endfor%}
        </div>
    </div>
    <div class="col-lg-1 col-md-1" ></div>
</div>


{% endblock%}