{% load bootstrap4%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title%}
    <title>Gala | {{title}}</title>
    {% else%}
    <title>Gala</title>
    {%endif%}
    {% block styles%}
        {% bootstrap_css%}
        <link rel="stylesheet" href="{% static 'css/index.css'%}">
        <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">
    {% endblock %}
</head>
<body style="background-color:rgba(26, 25, 23, 0.75);">
    <nav class="navbar navbar-inverse navbar-dark bg-dark">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'gala:index' %}">DYNAMO GALA</a>
          </div>
          <div class="col-sm-4 col-md-4 navbar-right">

            <form class="navbar-form" role="search" action="{% url 'gala:search_category'%}">
    
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search by Category" name="category">
                <div class="input-group-btn">
                  <button class="btn btn-secondary" type="submit"><i class="glyphicon glyphicon-search"></i>Search</button>
                </div>
              </div>
    
            </form>
          </div> 
        </div>
      </nav>
    {%block content%}
    {%endblock%}

    {% block scripts%}
        {%bootstrap_javascript%}
    {%endblock%}
    
</body>
</html>